*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 235, 235);
    font-family: sans-serif;
}
#main_header{
    height: 10vh;
    background-color: white;
    
    
}
#logo{
    margin-top: 1.5vh;
    height: 7vh;
    margin-left: 1vw;
}
.section_margin{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.centered_text{
    text-align: center;
}
.bg_blue{
    background-color: blue;
}
/* main container */
.container{
    width: 60vw;
    margin:10vh auto;
    min-height: 60px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 5vh ;
}

/* 1st section */
.selected_background{
    background-color: rgb(36, 149, 248);
    border: none !important;
}
.section_padding{
    padding:0 4% ;
    
}
.button_div{
    min-height: 8vh;
    
}

.button{
    display: inline-block;
    padding: 4px 8px;
    margin-right: 2px;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 5px;
    height: 4vh;
    margin-top: 2vh;
}

/* 2nd section */
.section_title{
    font-weight: 900;
    margin-bottom: 1vh;
}
.dropdown_icon{
    font-size: 12px;
    margin-right: 0.5vw;
}
.checked{
    display: inline-block;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 0.7em;
    width: 2vh;
    height: 2vh;
}
.unchecked{
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 0.7em;
    width: 2vh;
    height: 2vh;
}
.main_button{
    color: white;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 10px;

}
.new_task p{
    margin-bottom: 2vh;
}